@charset "utf-8";


div.foster-wrap{
    /* width: 1100px; */
    margin: 20px auto 0 auto;
    display: flex;
}


div.foster-wrap div#left{
    width: 300px;
    /* background-color: #ddf; */
    height: 1000px;
}


div.foster-wrap div#left div.b-list{
    margin: 10px 10px 10px 10px ;
    padding: 10px 10px 10px 0px;
    /* background-color: #fff; */
}
div.foster-wrap div#left div.b-list h2{
    width: 270px;
    margin: 0 0 10px 0;
    padding: 0 0 3px 0;
    border-bottom: 2px #7D8BAE solid;
    position: relative;;
}
div.foster-wrap div#left div.b-list h2:before{
    width: 50px;
    border-bottom: 2px #363A58 solid;

    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: inherit;
}

div.foster-wrap div#left div.b-list p{
    margin: 10px 10px 10px 10px ;
    padding:10px 10px 10px 10px;
    text-decoration: none;
    border: 1px #7D8BAE solid; 
}
div.foster-wrap div#left div.b-list p a{
    text-decoration: none;
    color: #000;
}
div.foster-wrap div#left div.b-list ul{
    list-style: none;
    text-decoration: none;
}
div.foster-wrap div#left div.b-list ul li{
    padding: 0 0 8px 0 ;
    text-decoration: none;
}
div.foster-wrap div#left div.b-list ul li a{
    text-decoration: none;
    color: #000;
}










div.foster-wrap div#right{
    width: 800px;
    /* background-color: bisque; */
}




#right #link a{
    margin: 0 5px 0 5px;
    text-decoration: none;
    font-size: 0.9rem;
}



#right h2{
    font-size: 1.6rem;
    font-weight: 500;
    border-left: #E5857B 4px solid;
    margin: 40px 0 40px 10px;
    padding: 0 0 0 3px;
}






#square{
    background-color: #fff;
    width: 760px;
    height: 325px;
    margin: 0 auto;
    border: #7D8BAE 1px solid;
    font-size: 0.9rem;
}

#square #up{
    border-bottom: #7D8BAE 1px dotted;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
}

#square #up #type{
    display: flex;
}

#square #up #type h3{
    font-weight: 400;
    color: #363A58;
    margin: 25px 0 0 30px;
}

#square #up #type ul{
    display: flex;
    margin: 15px 0 0 45px;
}

#square #up #type ul li{
    list-style: none;
    border: #7D8BAE 1px solid;
    padding: 0 5px 0 5px;
    width: 75px;
    height: 35px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}


#square #up #location{
    display: flex;
}
#square #up #location h3{
    margin: 30px 0 0 30px;
    font-weight: 400;
    color: #363A58;
}


#square #up #t_area{
    display: flex;
}
#square #up #t_area h3{
    margin: 30px 0 0 70px;
    font-weight: 400;
    color: #363A58;
}


#square #up #datetime{
    display: flex;
}
#square #up #datetime h3{
    margin: 30px 0 0 30px;
    font-weight: 400;
    color: #363A58;
}


#square #middle{
    border-bottom: #7D8BAE 1px dotted;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
}

#square #middle #gen{
    display: flex;
}

#square #middle #gen h3{
    margin: 30px 15px 0 30px;
    font-weight: 400;
    color: #363A58;
}

#square #middle #kinds{
    display: flex;
}

#square #middle #kinds h3{
    margin: 30px 15px 0 70px;
    font-weight: 400;
    color: #363A58;
}


#square #middle #situation{
    display: flex;
}

#square #middle #situation h3{
    margin: 30px 15px 0 30px;
    font-weight: 400;
    color: #363A58;
}

#square #bottom{
    display: flex;
}

#square #bottom #word{
    display: flex;
    margin: 0 0 0 0;
}

#square #bottom #word h3{
    margin: 25px 0 0 30px;
    font-weight: 400;
    font-size: 0.8rem;
    color: #363A58;
}

.radio-002 h3{
    font-weight: 400;
    color: #363A58;
    margin: 12px 0 0 85px;
}


#all #keep{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20px 0 0;
    
}
#all #keep a{
    text-decoration: none;
    color: #fff;
    background-color: #363A58;
    padding: 10px;
    font-size: 0.8rem;
    box-shadow: 5px 5px 20px #888;
} 


#all #search{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

#all #search a{
    text-decoration: none;
    color: #fff;
    background-color: #363A58;
    padding: 10px 60px 10px 60px;
    box-shadow: 5px 5px 20px #888;
}





.selectbox-002 {
    position: relative;
    margin: 20px 0 0 30px;
}
  
.selectbox-002::before,
.selectbox-002::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
  
.selectbox-002::before {
    right: 0;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 0 3px 3px 0;
    content: '';
}
  
.selectbox-002::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #363A58;
    border-right: 3px solid #363A58;
    content: '';
}
  
.selectbox-002 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 200px;
    height: 2.5em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #7D8BAE;
    border-radius: 2px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}
  
.selectbox-002 select:focus {
    outline: 1px solid #363A58;
}




.selectbox-003 {
    position: relative;
    margin: 20px 0 0 15px;
}
  
.selectbox-003::before,
.selectbox-003::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
  
.selectbox-003::before {
    right: 0;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 0 3px 3px 0;
    content: '';
}
  
.selectbox-003::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #363A58;
    border-right: 3px solid #363A58;
    content: '';
}
  
.selectbox-003 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 200px;
    height: 2.5em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #7D8BAE;
    border-radius: 2px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}
  
.selectbox-003 select:focus {
    outline: 1px solid #363A58;
}



.selectbox-004 {
    position: relative;
    margin: 20px 0 0 60px;
}
  
.selectbox-004::before,
.selectbox-004::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
  
.selectbox-004::before {
    right: 0;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 0 3px 3px 0;
    content: '';
}
  
.selectbox-004::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #363A58;
    border-right: 3px solid #363A58;
    content: '';
}
  
.selectbox-004 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 200px;
    height: 2.5em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #7D8BAE;
    border-radius: 2px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}
  
.selectbox-004 select:focus {
    outline: 1px solid #363A58;
}







.textbox-001 {
    width: 160px;
    border: 1px solid #363A58;
    border-radius: 1px;
    margin: 15px 0 0 30px;
    height: 30px;
    text-align: center;
    font-size: 0.8rem;
}





/* 投稿関連css*/
div.p-similar {
    /*  height: 100px;*/
    width: 750px;
    margin: 0 auto 0 auto;
    padding: 60px 0px 20px 0px;
    /*  background-color: #ddddff;*/
}


/* 掲示板div.postのdiv */
div.similar-wrap {
    width: 750px;
    margin: 0 auto 0 auto;
    padding: 0 0 30px 0;
    display: flex;
    flex-wrap: wrap;
}



/* 掲示板投稿パーツ */
div.post {
    margin: 5px 5px 5px 5px;
    padding: 3px 12px 20px 12px;
    width: 23.5%;
    box-sizing: border-box;

    border: 1px #ddd solid;
    box-shadow: 2px 2px 6px #ddd;
    background-color: #fff;

}

div.post a {
    /* margin: 10px 10px 10px 10px ; */
    /* padding: 10px 10px 10px 10px ; */
    color: #000;
    text-decoration: none;

    display: block;
    box-sizing: content-box;
}

div.post a:hover {
    opacity: 0.6;
}

div.post a p#iine {
    text-align: right;
}

div.post a input {
    /*この３行は必要*/
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*あったほうがいい*/
    border: none;
    background: none;
    outline: none;
    /*カーソル*/
    cursor: pointer;



    /*アイコンの色*/
    color: #000;
    /*  color: rgb(3, 14, 71);*/
}

div.post a input:hover {
    color: #E5857B;
    /* opacity: 0.8; */
}



div.post a figure {
    margin: 0 0 20px 0;
}

div.post a figure img {
    max-width: 100%;
}

div.post a h3 {
    margin: 0 0 3px 2px;
    font-size: 0.8rem;
    font-weight: lighter;
}

div.post a p {
    line-height: 1.1rem;
    font-size: 0.7rem;
}

div.post a p#brbr {
    padding: 1px 0 0 0;
}

div.post a p span {
    margin: 0 5px 2px 0;
    padding: 1px 9px 1px 9px;
    color: #fff;
    background-color: #E5857B;
    border-radius: 7px;
}











/* p-similar */
div.p-similar p {
    padding: 5px 0 5px 0;
}

div.p-similar p a {
    text-decoration: none;
    color: #000;
    /*仮*/
}

div.p-similar p a:hover {
    opacity: 0.6;
}









#num {
    width: 480px;
    margin: 0 auto 40px auto;
    font-size: 0.9rem;

}

#num p {
    font-size: 0.8rem;
    margin: 0 0 15px 0;
    text-align: center;
    color: #7D8BAE;
}

#numpage {
    display: flex;
    justify-content: space-around;
}

#numpage #before {
    margin: 13px 10px 0 0;
}

#numpage #before a {
    padding: 8px 10px 8px 15px;
    border: #7D8BAE 1px solid;
    white-space: nowrap;
    height: 42px;
    text-decoration: none;
    color: #7D8BAE;
}

#numpage #before a:hover {
    text-decoration: none;
    background-color: #7D8BAE;
    color: #fff;
}

#num_list {
    text-align: center;
    margin: 13px 0 0 0;
}

#num_list ul {
    display: flex;
    justify-content: center;
}

#num_list ul li {
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    padding: 0 12px;
}

#num_list ul li a {
    color: #7D8BAE;
    padding: 8px 20px;
    border: #7D8BAE 1px solid;
    text-decoration: none;
}

#num_list ul li a:hover {
    color: #fff;
    background-color: #7D8BAE;
    padding: 8px 20px;
    border: #7D8BAE 1px solid;
    text-decoration: none;
}

#num_list ul #ittan-color a {
    background-color: #7D8BAE;
    color: white;
}





#numpage #after {
    margin: 13px 0 0 5px;
}

#numpage #after a {
    padding: 8px 15px 8px 10px;
    border: #7D8BAE 1px solid;
    white-space: nowrap;
    height: 42px;
    color: #7D8BAE;
    text-decoration: none;
}

#numpage #after a:hover {
    color: #fff;
    background-color: #7D8BAE;
}





.radio-002 {
    display: flex;
    flex-wrap: wrap;
    gap: .3em 2em;
    border: none;
    margin: 12px 0 0 0;
}

.radio-002 label {
    display: flex;
    align-items: center;
    gap: 0 .5em;
    position: relative;
    cursor: pointer;
}

.radio-002 label::before,
.radio-002 label::after {
    border-radius: 50%;
    content: '';
}

.radio-002 label::before {
    width: 18px;
    height: 18px;
    border: 2px solid #dee5eb;
    box-sizing: border-box;
}

.radio-002 label::after {
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background-color: #dee5eb;
}

.radio-002 label:has(:checked)::after {
    background-color: #000000;
}

.radio-002 input {
    display: none;
}