@charset "utf-8";


#m-login{
  height: 93vh;
}

div.wrap{
  padding: 0 0 0 0;
}



#m-login .wrap #right{
  width: 50%;
  border-left: #363A58 1px solid;
}



#m-login div.wrap #right div#login-form{
  width: 450px;
  height: 570px;
  background-color: #363a58;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin: 65px 0 0 75px;
}

#m-login div.wrap #right div#login-form form{
  height: 450px;
  margin: auto;
  color: #fff;
}

#m-login div.wrap #right div#login-form form h1{
  font-size: 2.5rem;
  margin: 0 0 0 55px;
  padding: 60px 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}

#m-login div.wrap #right div#login-form form label p{
  margin: 50px 0 0 55px;
  font-size: 1.1rem;
}

#m-login div.wrap #right div#login-form form input{
  width: 340px;
  height: 30px;
  margin: 10px 0 0 55px;
}

#m-login div.wrap #right div#login-form form input#bottun{
  height: 40px;
  margin: 70px 0 0 55px;
  border: 1px solid #363A58;
  border-radius: 1px;
  color: #363A58;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 5px 3px 10px #222;
}


#m-login div.wrap #right div#login-form form input#bottun:hover{
  color: #000;
  box-shadow: none;
}

/* 会員登録へのリンク設定 */
#m-login div.wrap a{
  display: flex;
  color: white;
  padding: 0 0 3px 0;
  justify-content: center;
  margin: 30px 0 0 0;
}




/* 画像設定 */


.wrap #left{
  width: 50%;
  display: flex;
  margin: 0 auto;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}


#m-login div.wrap #left div#site-image figure img{
  width: 250px;
  height: auto;
}








footer{
  padding: 0 0 0 0;
  height: 7vh;
}