@charset "utf-8";




/* ------------↓左-------------- */

#left {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 60px 0 100px 35px;
}

.setmanage{
  margin: 25px 0 0 0;
}
.setmanage .minitop{
  font-size: 1.4rem;
  color: #777;
  margin: 15px 0;
}

.setmanage ul li{
  list-style: none;
  border-top: #aaa 1px solid;
  padding: 19px 0;
  font-size: 1rem;
}
.setmanage ul li:last-child{
  list-style: none;
  border-top: #aaa 1px solid;
  border-bottom: #aaa 1px solid;
  padding: 19px 0;
  font-size: 1rem;
}

.setmanage ul li a{
  display: flex;
  margin: 0 0 0 auto;
  margin-right: 60px;
  color: #000;
  text-decoration: none;
}
.setmanage ul li a:hover{
  opacity: 0.8;
}

/* ＞の設定 */
.arrow{
	position: relative;
	display: inline-block;
	padding: 0 0 0 16px;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
	font-size: 15px;
  margin: 0 0 0 auto;
}
.arrow::before{
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #7a0;
}
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}
.no1::before{
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.no1::after{
	left: 50px;
	width: 9px;
	height: 9px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}



#logout{
  margin: 80px 0 -50px 0;
  color: navy;
  text-align: center;
  border-top: navy 1px solid;
  border-bottom: navy 1px solid;
  padding: 20px 0;
  font-size: 1rem;
}

#logout a{
  text-decoration: none;
}

#logout a:hover{
  opacity: 0.7;
}


/* -------------↓右------------ */


#right{
  width: 800px;
  margin: 0 auto;
}

#right h2{
  width: 220px;
  text-align: center;
  margin: 40px 0 0 60px;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: #000 2px solid;
  padding: 0 0 5px 0;
}


#right #prof{
  margin: 0 auto;
  background-color: #7a0;
}

#right #prof #top{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#right #prof #top figure{
  margin: 0 auto;
}

#right #prof #top figure a{
  margin: right;
}