<!DOCTYPE html>

<html lang="ja">

  <head>

      <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Titta</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">

    <link rel="stylesheet" type="text/css" href="css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="css/point.css">


  </head>


  <body>

    <header>


      <div class="r-wrap">

        <div class="rr-wrap">

          <!-- index.htmlへ遷移 -->
          <a href="/">
            <figure>
              <img src="images/rogo.png" alt="rogo">
            </figure>
          </a>

          <div class="nav-top">
            <nav>
              <ul>
                <!-- mailbox.htmlへ遷移 -->
                <li><a href="/"><input type="submit" value="&#xf0e0;" class="button"></a></li>
                <!-- favorite.htmlへ遷移 -->
                <li><a href="/"><input type="submit" value="&#xf004;" class="button"></a></li>
                <!-- login.htmlへ遷移 -->
                <li><a href="/"><input type="submit" value="&#xf007;" class="button"></a></li>
              </ul>
            </nav>
          </div>


        </div><!-- "rr-wrap" -->


      </div><!-- class="r-wrap" -->





      <div class="nav-buttom">
        <nav>
          <ul>
            <!-- index.htmlへ遷移 --><li><a href="/" class="line-a">HOME</a></li>
            <!-- exhibit.htmlへ遷移 --><li><a href="/">出品</a></li>
            <!-- foster_board.htmlへ遷移 --><li><a href="/">里親掲示板</a></li>
            <!-- lost_petboard.htmlへ遷移 --><li><a href="/">迷子掲示板</a></li>
            <!-- contest.htmlへ遷移 --><li><a href="/">コンテスト</a></li>
            <!-- community.htmlへ遷移 --><li><a href="/">コミュニティ</a></li>
            <!-- assignment.htmlへ遷移 --><li><a href="/">譲渡会</a></li>
          </ul>
        </nav>
      </div>

    </header>




    <main id="m-my_profile">

      <div class="wrap">

        <div id="left"> <!-- 左 -->

          <div class="setmanage">

            <p class="minitop">商品管理</p>

            <ul>
              <li><a href="/">お気に入り一覧<div class="arrow no1"></div></a></li><!-- favorite.html -->
              <li><a href="/">出品状況<div class="arrow no1"></div></a></li><!-- exhibition_list.html -->
              <!-- <li><a href="/">下書き一覧<div class="arrow no1"></div></a></li> -->
              <li><a href="/">閲覧履歴<div class="arrow no1"></div></a></li><!-- browsing.html -->
              <li><a href="/">購入履歴<div class="arrow no1"></div></a></li><!-- listing_list.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">売上・ポイント</p>

            <ul>
              <li><a href="/">売上履歴<div class="arrow no1"></div></a></li><!-- earnings_history.html -->
              <li><a href="/">ポイント<div class="arrow no1"></div></a></li><!-- point.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">里親・迷子掲示板</p>

            <ul>
              <li><a href="/">過去の掲載履歴<div class="arrow no1"></div></a></li><!-- petpublish_history.html -->
              <li><a href="/">登録中のペット一覧<div class="arrow no1"></div></a></li><!-- reg_pet.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">コンテスト</p>

            <ul>
              <li><a href="/">開催中のコンテスト<div class="arrow no1"></div></a></li><!-- contest.html -->
              <!-- <li><a href="/">過去のコンテスト参加履歴<div class="arrow no1"></div></a></li> -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">登録</p>

            <ul>
              <li><a href="/">里親募集ペットを登録<div class="arrow no1"></div></a></li><!-- foster_post.html -->
              <li><a href="/">迷子ペット情報を登録<div class="arrow no1"></div></a></li><!-- lost_post.html -->
              <li><a href="/">譲渡誓約書<div class="arrow no1"></div></a></li><!-- pdfに遷移-->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">設定</p>

            <ul>
              <li><a href="/">お知らせ設定<div class="arrow no1"></div></a></li><!-- notice.html -->
              <li><a href="/">着せ替え設定<div class="arrow no1"></div></a></li><!-- dressup.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">ヘルプ</p>

            <ul>
              <li><a href="/">Q&A<div class="arrow no1"></div></a></li><!-- qa.html -->
              <li><a href="/">お問い合わせ<div class="arrow no1"></div></a></li><!-- inquiry.html -->
            </ul>

          </div>

          <div id="logout"><a href="/">ログアウト</a></div>

        </div>







        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->

          <h2>購入履歴</h2>

          <div id="point"><!-- ポイント表示  -->

            <div id="pointName">
              <p>保有ポイント</p>
            </div>

            <div id="pointManage">

              <figure>
                <img src="images/pointIcon.png" alt="ポイント画像">
              </figure>

              <div id="countBox">
                <p id="pointCount"><!-- {{}} -->12345</p><!-- 一旦入れとく -->
                <p id="P">P</p>
              </div>

            </div>
          </div>


          <div class="historyArea">

            <ul class="switching">  <!-- タブメニュー作りたいコーディングたのむ -->
              <li id="onceBorder"><a href="/">ポイント履歴</a></li><!--一旦それっぽくしとく-->
              <li><a href="/">有効期限</a></li>
            </ul>
          
            <div id="history" class="area">
              <div class="minibox">

                <div id="leftBox">
                  <p id="dateBox">2023/08/29</p><!-- {{}}2023/08/29  的な情報が入る -->
                  <p id="detailInfo">
                    購入・ペット用クールベッド トナカイ購入・ペット用クールベッド トナカイ購入
                    ・ペット用クールベッド トナカイ購入・ペット用クールベッド トナカイ
                  </p>
                </div>
  
                <div id="rightBox">
                  <p>
                    <!-- いずれ   {% if points > 0 %}
                                      +{{ points }}
                                  {% else %}
                                      {{ points }}
                                  {% endif %}って感じになるかな？
                    +なら黒　-なら赤　今は↓  5桁までなら綺麗に並ぶようにはしとく -->
                      +50000
                  </p>
                </div>

              </div>

              <div class="minibox">

                <div id="leftBox">
                  <p id="dateBox">2023/08/29</p><!-- {{}}2023/08/29  的な情報が入る -->
                  <p id="detailInfo">
                    購入・ペット用クールベッド トナカイ購入・ペット用クールベッド トナカイ購入
                    ・ペット用クールベッド トナカイ購入・あああああああ
                  </p>
                </div>
  
                <div id="rightBox">
                  <p>
                    <!-- いずれ   {% if points > 0 %}
                                      +{{ points }}
                                  {% else %}
                                      {{ points }}
                                  {% endif %}って感じになるかな？
                    +なら黒　-なら赤　今は↓  5桁までなら綺麗に並ぶようにはしとく -->
                      +4321
                  </p>
                </div>

              </div>

              <div class="minibox">

                <div id="leftBox">
                  <p id="dateBox">2023/08/29</p><!-- {{}}2023/08/29  的な情報が入る -->
                  <p id="detailInfo">
                    ポイントの使い道わかんね～w
                  </p>
                </div>
  
                <div id="rightBox">
                  <p>
                    <!-- いずれ   {% if points > 0 %}
                                      +{{ points }}
                                  {% else %}
                                      {{ points }}
                                  {% endif %}って感じになるかな？
                    +なら黒　-なら赤　今は↓  5桁までなら綺麗に並ぶようにはしとく -->
                      -73
                  </p>
                </div>

              </div>

              <div class="minibox">

                <div id="leftBox">
                  <p id="dateBox">2023/08/29</p><!-- {{}}2023/08/29  的な情報が入る -->
                  <p id="detailInfo">
                    サイドバーサイドバーサイドバーサイドバーサイドバーサイドバーサイドバーサイドバーサイドバーサイド
                    バーサイドバーサイドバーサイドバーサイドバー
                  </p>
                </div>
  
                <div id="rightBox">
                  <p>
                    <!-- いずれ   {% if points > 0 %}
                                      +{{ points }}
                                  {% else %}
                                      {{ points }}
                                  {% endif %}って感じになるかな？
                    +なら黒　-なら赤　今は↓  5桁までなら綺麗に並ぶようにはしとく -->
                      +4321
                  </p>
                </div>

              </div>

            </div>

            <!-- ↓切り替え先の情報入れるとこ（プログラム書き終えたら追加する） -->

            <!--<div id="date_of_expiry" class="area">

            </div> -->

          </div>





        </div>



      </div><!-- class="wrap" -->

    </main>



    <footer>

      <p id="page-top"><a href="#">Top</a></p>

      <!-- <div class="footer-wrap">


      <div class="rogo-wrap">
        <figure>
          <img src="images/rogo.png" alt="rogo">
        </figure>
      </div>




      <div class="f-nav-wr">

        <nav>
          <ul>
           <li class="nav-bold">HELP</li>
            <li><a href="#">ヘルプセンター</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="#">ガイド</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
   
          </ul>
          </ul>
        </nav>

      </div>


            <div class="f-nav-wr">

        <nav>
          <ul>
            <li class="nav-bold">SETEMAP</li>
            <li><a href="#">譲渡会</a></li>
            <li><a href="#">迷子掲示板</a></li>
            <li><a href="#">里親掲示板</a></li>
          </ul>
        </nav>

      </div>



      </div> -->
      <!-- class="footer-wrap"の終了タグ -->




      <div class="copy-all">
        2023 &copy; Copyright Titta. All rights reserved.
      </div>



    </footer>


 <!-- jQueryへのリンク -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ebfd63cef7.js" crossorigin="anonymous"></script>
    <script src="js/common.js"></script>

  </body>

</html>